<a [routerLink]="['/movie', movie.id]" title="{{movie.title}}">
  <div *ngIf="movie.poster_path; else elseBlock">
    <img class="card-img-top" src="{{apiImg}}/{{movie.poster_path}}"/>
  </div>
  <ng-template #elseBlock><img class="card-img-top" src="/assets/images/placeholder.png"/></ng-template>

  <div class="caption">
    <h5 ngbPopover="{{movie.overview}}"
      triggers="mouseenter:mouseleave"
      popoverTitle="{{movie.title}}">{{ movie.title }}</h5>
</div>
</a>
<!--info-->
  <div class="row">
    <div id="rating" class="col-6 rating">
      {{movie.vote_average}}
      <ngb-rating rate="{{movie.vote_average/2}}" readonly="true" max="5"></ngb-rating>
  </div>
  <div class="col-4">
      <span class="badge badge-info">{{ movie.release_date | date:"yyyy" }}</span>
  </div>
</div>