<div class="row" style="margin-bottom:2em;">
  <button  class="btn btn-secondary" (click)="goBack()">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back
  </button>
</div>
<div *ngIf="movie">
  <h3>{{movie.title}} ({{movie.release_date | date:'yyyy'}}) </h3>
  <div class="row">
    <div class="col-3">
      <a [routerLink]="['/movie', movie.id]" title="{{movie.title}}">
        <div *ngIf="movie.poster_path; else noPoster">
          <img class="card-img-top" style="width:100%" src="{{apiImg}}/{{movie.poster_path}}"/>
        </div>
      </a>
    </div>
    <div class="col-9" style="margin-top:1em;">
      <dl class="row">
        <dt class="col-4">Original title:</dt>
        <dd class="col-8">{{movie.title}}</dd>
        
        <dt class="col-4">Release date:</dt>
        <dd class="col-8">{{movie.release_date | date }}</dd>

        <dt class="col-4">Runtime:</dt>
        <dd class="col-8">{{movie.runtime}} minutes</dd>
        
        <dt class="col-4">Genres:</dt>
        <dd class="col-8" >
          <span *ngFor="let genre of movie.genres; let isLast=last">
            {{ genre.name }}{{isLast ? '' : ', '}}
          </span>
        </dd>
        
        <dt class="col-4">Rating:</dt>
        <dd class="col-8" style="color:#f39c12;">
            {{movie.vote_average}}
            <ngb-rating rate="{{movie.vote_average}}" readonly="true" max="10"></ngb-rating>
        </dd>
        
        <dt class="col-4">Overview: </dt>
        <dd class="col-12">
          {{movie.overview}}
        </dd>
      </dl>
    </div>
  </div>
</div>
<div class="row" style="margin-top:1em;">
  <div *ngIf="movie?.video">
    <button class="btn btn-outline-primary mx-auto" type="button" (click)="getTrailerUrl(movie.id); modalTrailer.show()">
      <i class="fa fa-play-circle" aria-hidden="true"></i> Play trailer</button>
  </div>
</div>
<app-modal #modalTrailer>
  <div class="app-modal-body" *ngIf="videoUrl">
      <iframe class="e2e-iframe-trusted-src" [src]="videoUrl" frameborder="0"></iframe>
  </div>
</app-modal>
<div class="row" style="margin-top:1em;">
  <app-tabset-movie-xdetail [movie]="movie"></app-tabset-movie-xdetail>
</div>
<ng-template #noPoster>
  <img class="card-img-top"
    src="https://user-images.githubusercontent.com/9521285/27590125-435301ca-5b13-11e7-999e-ce28aab045a1.png"/>
</ng-template>