<h2>Explore movies</h2>
<!--SORT dropdown-->
<div class="row float-rigth" style="margin:2em;">
  <div class="col-4 float-rigth">
    <p class="row">Order by </p>
    <div class="row">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedSort.name}}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <div *ngFor="let sort of sorting_option">
          <button class="dropdown-item" (click)="changeSort(sort)">{{sort.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end SORT dropdown-->
<app-pagination (onChangePage)="changePage($event)"
  [page]="result?.page" [totalPages]="result?.total_pages"
  [totalResults]="result?.total_results">
</app-pagination>
<div class="row">
  <div *ngFor="let movie of movies" class="col-2" id="movies">
    <movie-card [movie]="movie"></movie-card>
  </div>
</div>
<hr>
<app-pagination (onChangePage)="changePage($event)"
  [page]="result?.page" [totalPages]="result?.total_pages"
  [totalResults]="result?.total_results">
</app-pagination>