<h2>Explore movies</h2>

<div class="row">
  
  <div *ngFor="let movie of movies" class="col-3" id="movies">
      
    <!--movie-tile-->
    <movie-card [movie]="movie"></movie-card>
    <!-- END movie-tile-->
    
  </div>
  
</div>

<hr>

<div class="row">
  <ngb-pagination
    (pageChange) = "changePage($event)"
    [page]="3"
    [maxSize]="5"
    [collectionSize]="result?.total_results"
    [pageSize]="20"
    [boundaryLinks]="true">
  </ngb-pagination>
  <pre>currentPage: {{currentPage}}, collectionSize: {{result?.total_results}}</pre>
</div>